@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lexend);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.App {
  width: 100%;
  min-height: 100%;
  min-height: 100svh;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 30px;
}

#canv {
  height: 95vmin;
  aspect-ratio: 1;
  box-shadow: 0 0 10px #ccc;
}

#waveCanv {
  margin-top: 25px;
  width: 100%;
  height: clamp(150px, 10vmin, 300px);
  border: 2px solid #ccc;
  border-radius: 10px;
}

.cutMode {
  cursor: cell;
}

#dialogs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 95vmin;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  position: relative;
  overflow: hidden;
  padding: 65px clamp(10px, 2vw, 20px);
  width: min(60vmin, 30vmax)
}

#mainButtons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: calc(100% - 20px);
  padding: 10px 20px;
  transform: translateX(-50%);
}

.selectBox {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.selectOption {
  width: 50%;
  text-align: center;
  padding: 7px;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  font-size: 0.9rem;
}

.leftEdge {
  border-radius: 10px 0 0 10px;
}

.rightEdge {
  border-radius: 0 10px 10px 0;
}

.tab {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabOption {
  height: 100%;
  width: calc(1/3 * 100%);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #ccc;
  font-size: 0.8rem;
  background-color: #f0f0f0;
  cursor: pointer;
}

.leftest {
  border: none;
}

.dialogPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 30px;
  height: 100%;
  padding-bottom: 25px;
}

#modBox {
  height: fit-content;
  text-align: left;
  padding-top: 10px;
}

#modBox p {
  width: 95%;
}

#modBox input[type=range] {
  width: 100%;
}

.rowBox {
  column-gap: min(50px, 5.5vw);
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
}

.colBox {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}


.colBox b {
  margin-bottom: 10px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(15px, 1.5vw, 20px);
}

span {
  user-select: none;
  font-size: clamp(0.8rem, 0.8vw, 1.1rem);
}

.button {
  cursor: pointer;
  padding: 0;
  box-shadow: 0 0 10px #bbb;
  border-radius: 6px;
  /* width: clamp(100px, 10vw, 140px); */
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  user-select: none;
  height: clamp(30px, 2vh, 40px);
  line-height: clamp(30px, 2vh, 40px);
  transition: 0.1s;
  padding: 0 clamp(2px, 0.5vw, 10px);
  font-size: clamp(12.5px, 0.7vw, 15px);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: min(10px, 2vw);
  width: 100%;
  /* flex-wrap: wrap; */
}

input[type="number"] {
  height: 20px;
  width: 60px;
  padding: 0 3px
}

.selected {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.arrow {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  padding: 0;
}

input[type="file"] {
  width: 65%;
  padding: 2.5%;
  height: 50px;
}

#imagePicker {
  width: 35%;
  padding: 2.5%;
}

::-webkit-file-upload-button {
  font-family: 'Lexend';
  background-color: white;
  box-shadow: 0 0 5px #bbb;
  border: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

#imgPreview {
  background-color: white;
  box-shadow: 0 0 10px #bbb;
  height: min(25vmax, 40vmin);
  aspect-ratio: 1;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#imgPreview img {
  width: 100%;
  border: none;
  box-shadow: none;
  aspect-ratio: initial;
}

.sliders {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.sliders p {
  font-size: clamp(0.8rem, 0.8vw, 1.1rem);
}

.hide {
  display: none;
}

@media only screen and (max-width: 1320px) {
  .App {
    flex-direction: column;
    padding: 15px 0;
  }

  #dialogs {
    width: min(95vmin, 55vmax);
    /* min-width: 380px; */
    /* min-height: 600px; */
    height: fit-content
  }

  #mainButtons {
    width: 100%;
  }
}